.wowprogress {
    object-position: 0px 0px;
    width: 10%;
}
.center{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.subtitileCusto{
    color : red !important; 
}